<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Movie Database</title>
    <link rel="stylesheet" href="./styles/style.css" />
    <script
      src="https://kit.fontawesome.com/f300007e95.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="./scripts/script.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="content-wrapper header__flex">
        <a href="index.html"
          ><img class="header__logo" src="./res/logo.png" alt="logotype"
        /></a>
        <form class="header__form" id="searchForm">
          <input
            class="header__input"
            id="searchInput"
            type="text"
            aria-label="Search"
          />
          <button class="header__form-btn" id="searchBtn">Search</button>
        </form>
        <a href="./favorites.html" class="header__fav-btn" id="favBtn"
          >Favorites</a
        >
      </div>
    </header>

    <!-- Trailer Caroussel -->
    <section>
      <div class="content-wrapper">
        <section class="trailers">
          <img
            src="./res/icons/arrow-left.svg"
            alt="left navigation arrow"
            class="trailers__arrow trailers__arrow--left"
            data-direction="left"
          />
          <img
            src="./res/icons/arrow-right.svg"
            alt="right navigation arrow"
            class="trailers__arrow trailers__arrow--right"
            data-direction="right"
          />
          <section class="trailers__container"></section>
        </section>
      </div>
    </section>

    <!-- Our recommended movies section -->
    <section>
      <div class="content-wrapper center">
        <h2 class="popular-title">Our recommendations</h2>
        <section class="card-container" id="cardContainer"></section>
      </div>
    </section>
  </body>
</html>
