@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

.popular-title {
    color: #F5C518;
}

.card-container__movie {
    color: white;
    margin-left: 1rem;
}

/* Styling för desktop-läge */

.desktop {
    display: none;
}

/* Styling trailers */

.movie-trailer {
    border: none;
}


/* Styling topplistan */
.movie-list {
    padding-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.movie-item {
    width: 13rem;
    background-color: gray;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px 0 lightgray;
}

.movie-title {
    color: #F5C518;
    font-size: 1.7rem;
}

.movie-poster {
    width: 100%;
}

.trailer-link {
    text-decoration: none;
    color: white;
}

.trailer-link:hover {
    color: darkblue;
    text-decoration: underline;
}

.star {
    width: 55px;
}

.award {
    color: white;
}

#cardContainerr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.favourite {
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

@media screen and (min-width: 800px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

}